body, input
{
	font-size: 20px;
}
.header
{
	display: flex;
	justify-content: space-between;
}
.factorial
{
	display: flex;
	justify-content:flex-start;
}
#factorial-result
{
	margin-left: 8px;
}
.task
{
	margin: 32px;
	padding: 16px;
	border-radius: 12px;
	box-shadow: 0 0 10px 0 gray;
}
.task > h2
{
	margin: 0;
}
/*==================================================================*/
.images-and-colors, .colors
{
	display: flex;
	justify-content: space-between;
}
.photo-container > .image-container, img {
	width: 300px;
	height: 350px;
}
.photo-container > .image-container
{
	border: solid 1px;
}
input[type=color]
{
	margin-right: 32px; 
}