body, input
{
	font-size: 20px;
}
.header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px gray;
}
.header > h3, .header > h5
{
	margin: 2px;
}
#switch-background
{
	width: 26px;
	height: 26px;
	background-size: 26px 26px;
}
.dark
{
	background-color: #323232;
	color: white;
}
.dark #switch-background
{
	background-image: url('sun.png');
	filter: brightness(0) invert(1);
}
.light {
	background-color: wheat;
	color: black;
}
.light #switch-background

{
	background-image: url('moon.png');
}
.factorial
{
	display: flex;
	justify-content:flex-start;
}
#factorial-result
{
	margin-left: 8px;
}
.task
{
	margin: 32px;
	padding: 16px;
	border-radius: 12px;
	box-shadow: 0 0 10px 0 gray;
}
.task > h2
{
	margin: 0;
}
/*==================================================================*/
.images-and-colors, .colors
{
	display: flex;
	justify-content: space-between;
}
.photo-container > .image-container, img {
	width: 300px;
	height: 350px;
}
.photo-container > .image-container
{
	border: solid 1px;
}
input[type=color]
{
	margin-right: 32px; 
}