/*CSS - Cascade Style Sheet (Каскадные таблицы стилей)*/
body {
	font-size: 20px;
	/*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
	font-family: Roboto Condensed;
}

p {
	text-align: justify
}

figure {
	text-align: center;
}

figcaption {
	font-style: italic;
	font-weight: 300;
}
