body
{
	background-image:url("img/bliss.jpg");
	background-size: cover;
}
.main-window
{
	/*border: solid 1px;*/
	width: 400px;
	height: 300px;
}
.title-bar {
	height: 36px;
	background-color: #730a80;
	color: white;
	font-family: Tahoma;
	display: flex;
	justify-content: space-between; /*Выравнивание по горизонтали*/
	align-items: center; /*Выравнивание по вертикали*/
	padding: 0 5px;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	/*background-image: linear-gradient(to bottom, #7089ff, #002fe8, #080798);*/
	background-image: linear-gradient(to bottom, rgb(94, 137, 255), rgb(0, 95, 246), rgb(38, 0, 151));
	box-shadow: inset -1px 0px 8px 0px 0px darkblue;
}
.icon-and-title {
	display: flex;
	align-items: center;
}
.title-bar-window-control-buttons
{
	padding: 0 3px;
	width: 120px;
	padding: 1px;
}
.title-bar-window-control-buttons/*, .control-buttons */
{
	display: flex;
	justify-content: center;
	align-items: center;
/*
	border-bottom: solid 1px;*/
}
.control-button
{
	width: 28px;
	height: 28px;
	font-size: 24px;
	margin: 0 2px;
}

.control-button-signature
{
	margin-left: -6px;
	margin-top: -5px;
}
.close-button-signature
{
	margin: -3px 0 0 -4px;
}
.iconsm {
	width: 32px;
	height: 32px;
}
.client-rect
{
	background-color: #85bfff;
	height: 262px;
}