body
{
	background-image:url("img/bliss.jpg");
	background-size: cover;
}
.main-window
{
	/*border: solid 1px;*/
	width: 400px;
	height: 300px;
}
.title-bar {
	height: 36px;
	background-color: #730a80;
	color: white;
	font-family: Tahoma;
	display: flex;
	justify-content: space-between; /*Выравнивание по горизонтали*/
	align-items: center; /*Выравнивание по вертикали*/
	padding: 0 5px;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	/*background-image: linear-gradient(to bottom, #7089ff, #002fe8, #080798);*/
	background-image: linear-gradient(to bottom, rgb(94, 137, 255), rgb(0, 95, 246), rgb(38, 0, 151));
	box-shadow: inset -1px 0px 8px 0px 0px darkblue;
}
.icon-and-title {
	display: flex;
	align-items: center;
}
.title-bar-window-control-buttons
{
	padding: 0 3px;
	width: 120px;
	padding: 1px;
}
.title-bar-window-control-buttons/*, .control-buttons */
{
	display: flex;
	justify-content: center;
	align-items: center;
/*
	border-bottom: solid 1px;*/
}
.control-button
{
	width: 28px;
	height: 28px;
	font-size: 24px;
	margin: 0 2px;

	border: solid 1px;
	border-radius: 10px;

	background-color: #2d65ff;
	color: white;

	box-shadow: inset 2px 1px 7px 0px #5e91e2,
				inset -2px -1px 7px 0px #171b6f;
}
.control-button:hover
{
	background-image: linear-gradient(to bottom right, rgb(189, 189, 249), rgb(39, 104, 249), rgb(149, 149, 249));
}
.control-button[disabled], .control-button[disabled]:hover
{
	color: #7d7c7c;
	background-image: none;
	background-color: rgb(39, 104, 249);
	box-shadow: inset 3px 1px 7px 0 #636886;
}
	.control-button:active {
		background-image: none;
		background-color: rgb(50, 50, 200);
		box-shadow: inset -3px -1px 7px 0 #636886, inset 4px 1px 5px 0px #000088;
	}
.control-button-signature
{
	margin-left: -5px;
	margin-top: -7px;
}
.close-button-signature
{
	margin: -5px 0 0 -2px;
}
.close-button 
{
	background-color: #e13535;
	box-shadow: inset 2px 1px 7px 0 #ee6f6f, inset -2px -1px 7px 0 #510707;
}
.close-button:hover
{
	background-image: linear-gradient(to bottom right, rgb(220, 177, 157), rgb(255, 77, 57), rgb(220, 177, 157));
}
.close-button:active
{

}
.iconsm {
	width: 32px;
	height: 32px;
}
.client-rect
{
	background-color: #85bfff;
	height: 262px;
}